/* Section 1 (homepage + navigation) */


.container-main {
  width: 1920px;
  max-width: 100%;
  background-image: url(../images/main-pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}
.navigation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  gap: 900px;
  height: 60px;
  background-color: rgb(97, 100, 251);
  margin-left: 40px;
  z-index: 999;
  max-width: 1850px;
}
.logo {
  margin-top: 30px;
  margin-bottom: 35px;
  max-width: 100%;
}
.logo-text {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}
.logo-text:hover {
  color: #14fd20;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
}

.navigation {
  width: 700px;
  margin-top: 30px;
}
.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
.nav-item {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: semibold;
  color: #fff;
  gap: 15px;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
}
.nav-item:hover {
  color: #c70e92;
}
.burger-bar {
  display: none;
  font-size: 25px;
  margin: 5px;
  color: #fff;
  cursor: pointer;
}
.menu-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.headline {
  color: white;
  margin-top: 150px;
}
.form-container {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 350px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  background-color: transparent;
  margin-top: 250px;
  margin-left: 50px;
}
.container {
  color: #f2f2f2;
  margin-top: 10px;
  line-height: 25px;
  margin-left: 50px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
  border: none;
  background: #fff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  outline: none;
}

hr {
  border: 1px solid #fff;
  margin-bottom: 15px;
}

button {
  background-color: #82cf9f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  cursor: pointer;
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #d55ab4;
  margin-bottom: 15px;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding-right: 50px;
  padding-left: 20px;
}



/* Section 2 (Exchange) */

.container2 {
  height: 950px;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(82,226,99,1) 27%, rgba(238,253,45,1) 100%);
}
.block-wrapper {
  margin: 0 50px 110px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.block-title1 {
  font-family: 'Lato', sans-serif;  
  max-width: 600px;
  width: 100%;
  font-size: 78px;
  font-weight: bold;
  color: #c240e9;
  line-height: 109px;
  margin-right: 30px;
}
.block-title2 {
  font-family: 'Roboto', sans-serif;
  margin: 42px 0 84px;
  width: 602px;
  font-size: 22px;
  color: #fff;
}
.block-title3 {
  font-family: 'Roboto', sans-serif;
  margin: 42px 0 84px;
  width: 602px;
  font-size: 22px;
  color: #fff;
}
.block-title4 {
  font-family: 'Roboto', sans-serif;
  margin: 42px 0 84px;
  width: 602px;
  font-size: 22px;
  color: #fff;
}
.chart-image {
  margin-top: 120px;
  max-width: 1000px;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px #940881;
  box-shadow: 10px 10px 5px #940881;
}
.gesture {
  width: 263.67px;
  height: 76.77px;
  background: #940881;
  border-radius: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gesture:hover {
  cursor: pointer;
  background-color: #5bb0e2;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
 
}
.gesture-text {
  font-family: 'roboto', sans-serif;
  margin-left: 12px;
  color: #fff;
  font-size: 23px;
  line-height: 80px;
  font-weight: 400;
}



/* Section 3 (NFTs) */



.container3 {
  background-color: #e1d014;
}
.nft-sec {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.main-title {
  font-family: 'roboto', sans-serif;
  text-align: center;
  font-size: 45px;
  color: #2b2daa;
  line-height: 107px;
  font-weight: bold;
  text-shadow: 5px 5px 5px #e7e3f1;
}

.main-text {
  font-family: 'roboto', sans-serif;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #2b2daa;
  text-shadow: 5px 5px 5px #a799c9;
  line-height: 70px;
}

.section-boxes{
  margin-top: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.image-box {
  max-width: 444px;
  width: 100%;
  background-color: #fff;
  padding-bottom: 33px;
  border-radius: 5px;
  -webkit-box-shadow: 15px 15px 15px 0 #a9d9e9;
  box-shadow: 15px 15px 15px 0 #025d7b;
}
.nft-images {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}
.nft-images:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
	transform: scale(1.2);
  transition: .3s ease-in-out;
}
.image-box:nth-child(1) {
  margin-right: 58px;
  margin-bottom: 56px;
}

.image-box:nth-child(2) {
margin-right: 58px;
margin-bottom: 56px;
}
.image-box:nth-child(3) {
margin-right: 58px;
margin-bottom: 56px;
}
.image-box:nth-child(4) {
margin-right: 58px;
margin-bottom: 56px;
}
.image-box:nth-child(5) {
margin-right: 58px;
margin-bottom: 56px;
}
.image-box:nth-child(6) {
margin-right: 58px;
margin-bottom: 56px;
}

.box-title1 {
  font-size: 22px;
  line-height: 30px;
  margin: 20px 20px 20px 170px;
}
.act-button {
  max-width: 164px;
  width: 100%;
  height: 68px;
  border-color: transparent;
  background-color: #366acc;
  font-size: 14px;
  font-weight: 300;
  border-radius: 90px;
  margin: 0 12px 0 36px;
}
.act-button:hover {
  cursor: pointer;
  background-color: #7de4a5;
}

.price {
  font-size: 22px;
  line-height: 30px;
}

.act-menu-button {
  font-family: 'lora', sans-serif;
  max-width: 255px;
  width: 100%;
  height: 68px;
  background-color: #763cea;
  color: #fff;
  margin-top: 106px;
  border-radius: 90px;
  font-size: 18px;
  line-height: 30px;
  border-color: #fff;
  margin-bottom: 161px;
  font-weight: 400;
}
.act-menu-button:hover {
  cursor: pointer;
  background-color: rgb(208, 91, 232);
}



/* Section 4 (Learn and Earn) */



.container-block {
  width: 1300px;
  height: 780px;
  margin: 0 auto;
}
.size {
  width: 370px;
  height: 451px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.size:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
  transition: .3s ease-in-out;
  box-shadow: 10px 10px 10px 10px #000;
}
.text-block {
  width: 771px;
  margin: auto;
  margin-top: 50px;
}
.edu-text {
font-family: 'roboto', sans-serif;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
font-family: 'lato', sans-serif;
font-weight: 900;
color: #3719be;
font-size: 45px;
margin-top: 10px;
margin-bottom: 20px;
}
.edu-text2 {
font-weight: 400;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
text-align: center;
line-height: 25px;
margin-left: 70px;
margin-right: 70px;
background: radial-gradient(circle, rgba(2, 36, 76, 0.582) 0%, rgba(252,70,107,1) 100%);
font-family: 'roboto', sans-serif;
font-size: 25px;
border-radius: 25% 10%;
color: #011401;
width: 600px;
height: 130px;
max-width: 100%;
}
.row-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  margin-top: 67px;
  margin-left: 30px;
  margin-right: 30px;
}
.sec-4-row-img {
  width: 100px;
  margin-top: 15px;
}
.block01 {
  background-color: #0d62c4;
  border-radius: 50% 20% / 10% 40%;
}
.block02 {
  background-color: #8a0483;
  border-radius: 50% 20% / 10% 40%;
}
.block03 {
  background-color: #048b0b;
  border-radius: 50% 20% / 10% 40%;
}

.box-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 57px;
}
.text-wraper {
  width: 328px;
  height: 62px;
  text-align: center;
  margin-top: 10px;
}
.block-top-text {
  font-family: 'lora', sans-serif;
  font-size: 22px;
  color: #fff;
  line-height: 54px;
}

.block-mid-text {
  width: 328px;
  font-family: 'lora', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  line-height: 21px;
}
.moreinfo {
  width: 131px;
  height: 45px;
  text-align: center;
  font-family: 'lora', sans-serif;
  color: #fff;
  border: 2px #fff solid;
  border-radius: 23px;
  padding: 12px 0 13px; 
  margin-top: 15px;
}
.moreinfo:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}



/* Section 5 (About Us) */




.container-block-sec5 {
  width: 1300px;
  height: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 324px;
  background-image: url(../images/blokchain-aboutus.png);
  background-size: cover;
  height: 900px;
}

.text-block-sec5 {
  width: 900px;
  margin: auto;
  margin-top: 50px;
  margin-left: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section2-midtext-sec-5 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
font-family: 'lora', sans-serif;
font-weight: 900;
color: #ebeaf5;
font-size: 60px;
margin-top: 10px;
margin-bottom: 20px;
text-shadow: 15px 15px 15px #19b3fa;
}
.para-text-sec5 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
text-align: center;
line-height: 25px;
margin-left: 70px;
margin-right: 70px;
background: radial-gradient(circle, rgb(13, 111, 240) 0%, rgba(252,70,107,1) 100%);
font-family: 'roboto', sans-serif;
font-size: 25px;
border-radius: 10px 100px / 120px;
color: #f6fbf6;
margin-top: 50px;
-webkit-box-shadow: 15px 15px 15px rgb(91, 210, 247);
        box-shadow: 15px 15px 15px rgb(91, 210, 247);
}



/* section 6 (Contact and location) */

.contact-details {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
  margin-top: 55px;
  margin-left: 90px;
}
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin-bottom: 25px;
}
.contact-text1 {
  font-family: 'lora', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 35px;
  color: #048b0b;
  font-weight: 900;

}
input[type=text1], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0fb478;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-cont {
  border-radius: 5px;
  background-color: #d293d4;
  padding: 20px;
}
.title-column1 {
  width: 750px;
}
.links1 {
  font-family: 'lora', sans-serif;
  color: #0d62c4;
  margin-left: 15px;
}
.links1:hover {
  text-underline-offset: 0.45em;
  text-decoration: underline 0.15em #1046db;
}
.location-container {
  width: 1300px;
  margin: 100px 500px 50px;
  margin-top: 20px;
}
.column-icons {
  color: #3277dd;
  line-height: 50px;
  font-size: 25px;
}
.location {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.map-link {
  width: 100%;
  height: 350px;
  float: right;
  border-radius: 10px;
  height: 380px;
  -webkit-box-shadow: 10px 10px 10px #2236aa;
          box-shadow: 10px 10px 10px #2236aa;
}



/* section 7 */



.footer {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 42px;
  background-color: rgb(10, 12, 151);
}
.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.text1 {
  font-family: 'lato', sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}
.title-block {
  display: block;
}
.text2 {
  max-width: 260px;
  font-family: 'lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-top: 75px;
  margin-bottom: 20px;
}
.soc-media-icons {
  font-size: 35px;
  margin-top: 25px;
}

.styling:nth-child(1) {
 color: #3B5998;
}
.styling:nth-child(2) {
  color: #55ACEE;
  }
.styling:nth-child(3) {
 color: #ff0a0a;
}
.styling:nth-child(4) {
  color: #7da6f1;
 }
 .styling:nth-child(5) {
  color: #514efc;
 }

.titles {
  font-family: 'lato', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 20px;

}

.column-texts {
  font-family: 'lato', sans-serif;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}

.links {
  font-family: 'lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #a3a9fd;
  margin-left: 14px;
  font-weight: 900;
}

.copyright-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.buttom-text1 {
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}


